
/* debug per framework */
[class*="col-"]{
    min-height:100px;
    background-color: red;
    border:solid 1px #000;
}

header{
    background-color: #303e4e;
}

.fl-menu-logo{
    background-color: green;
}
.fl-menu-link{
    background-color: gray;
}

/* ________REGOLE SESSIONE UOMO_____ */
section.fl-back-green{
    background-color: #58b99d;
}

.fl-title,
.fl-star-white,
.fl-man-image,
.fl-name-job{
    background-color: green;
    text-align: center;
}

section.fl-back-white{
    min-height: 300px;
}

.fl-title-black,
.fl-star-black{
    text-align: center;
    background-color: orange;
}
