
/* debug per framework */
[class*="col-"]{
    min-height:10px;
    /* background-color: red; */
}

nav.navbar-default{
    background-color: #303e4e;
}
.navbar-default a.navbar-brand{
    color:#ffffff;
}
.navbar-default .navbar-nav>li>a{
    color:#ffffff;
}
nav.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}

/* ________PROVO A DARE L'HOVER_______ */

ul.nav.navbar-nav.navbar-right>li>a:hover{
    color: green;
}


/* ________REGOLE SESSIONE UOMO_____  */
section.fl-back-green{
    background-color: #58b99d;
    text-align: center;
    margin-bottom: 50px;
}

/* per before, left:
(50%(mettilo al 50% del contenitore) - 15px(togli la metà della stella 30x30) - 100px(togli la lunghezza della barra) - 10px(togli la distanza del margine alla stella))
quando abbiamo i posizionamenti in absolute dobbiamo fare i CALC.

uguale per right
right:(50% - 15px - 100px - 10px)after         */
.fl-title,
.fl-star-white,
.fl-man-image,
.fl-name-job{
    text-align: center;
}
.fl-star-white{
    position: relative;
    text-align: center;
}
/* ________________________________________________________________________________
per far si ke metto in responsive le linee nere vicino alla stella ho due metodi o con ABSOLUTE E FACCIO IL CALC SCRITTO SOPRA.
IN ALTERNATINVA, metto tutti e tre i blocchi in "DISPLAY-INLINE-BLOCK,
sia il BEFORE che L'AFTER, la barra la metto in %, perchè volgio che si muove e lei di conseguenza si restringe,
quando andro a chiudere il viewport (responsive).
per centrare l'altezza, metto tutti e tre i blocchi in VERTICAL-MIDDLE
            IMPORTANTISSIMO
    il vertical middle lo do alla immagine no al blocco, questo è da ricordare "*/

.fl-star-black>img{
    vertical-align: middle;
    display: inline-block;
}

.fl-star-black::before{
    content: "";
    background-color: black;
    height: 2px;
    width: 8%;
    display: inline-block;
    vertical-align: middle;
}
.fl-star-black::after{
    content: "";
    background-color: black;
    height: 2px;
    width: 8%;
    display: inline-block;
    vertical-align: middle;
}

/* ______REGOLE IMMAGINE____ */
/* div.fl-man-image{
    width: 100%;
} */
div.fl-man-image img{
    width: 100%;
    height: 240px;
}



/* _____NON CAMBIA COLORE ALL'IMMAGINE DATA____ */ /* ______INSERISCO STELLA NERA_____ */
div.fl-star-white img, div.fl-star-black img{
    height: 22px;
}
div.fl-star-white, div.fl-star-black{
    margin-bottom: 20px;
}
div.fl-div-job{
    margin-bottom: 40px;
}

/* _____REGOLE SESSIONE PORTFOLIO_____ */
section.fl-back-white{
    text-align: center;
    padding-bottom: 50px;
}

.fl-title-black,
.fl-star-black{
    text-align: center;
}

img {
    vertical-align: middle;
}

.fl-back-purple, .fl-back-lightblue, .fl-back-black,
.fl-back-blue, .fl-back-violet, .fl-back-beije{
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}
.fl-div-image{
    position: relative;
}

/* _______creato hover_____ */
div.fl-hover-image{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(90, 219, 173, 0.8);
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 10px;
}
.fl-plus span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: 800;
    color: white;
    z-index: 200;
    display: none;
}

.fl-div-image:hover .fl-hover-image,
.fl-div-image:hover .fl-plus span{
    display: block;
}

.fl-margin-image{
    margin-bottom: 15px;
}

/* div.fl-div-image{
    padding: 15px 0;
} */

/* ______REGOLE SESSIONE ABOUT________ */
.fl-title-white, .fl-paragrafy, .fl-button, .fl-send-form{
    color: white;
}

p.fl-paragrafy{
    column-count: 2;            /*divisore di colonne*/
    text-align: left;
}

a.fl-button{
    line-height: 45px;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid white;
    text-decoration: none;
}
a.fl-button:hover{
    color: black;
    background: white;
}
p.fl-paragrafy{
    padding-bottom: 50px;
}
div.fl-div-button{
    margin-bottom: 50px;
}
img.fl-image-button{
    height: 15px;
}
/* _______SESSIONE CONTACT ME_______ */

form.fl-contact{
    text-align: left;
}
label {
    display: none;
}
input.form-control, textarea.form-control{
    border: none;
    border-bottom: 1px solid #cccccc;
    box-shadow: none;
    border-radius: 0;
    padding: 0 0;
}
textarea.form-control{
    padding-bottom: 50px;
}
button.fl-send-form{
    background-color: #58b99d;
    border-radius: 5px;
    padding: 4px 8px;
    border: none;
    box-shadow: none;
    margin: 10px 0;
}

/* _____REGOLE FOOTER____ */


footer.fl-foot-top{
    background-color: #3f546b;
}
footer.fl-foot-bottom{
    background-color: #303e4e;
    min-height: 100px;
    position: relative;
}

footer.fl-foot-top, footer.fl-foot-bottom{
    text-align: center;
    color: white;
}

span.fl-icons{
    color: white;
}

div.fl-div-about{
    padding: 0 65px;
}
span>a.fl-span-about{
    color: green;
}
span>a.fl-span-about:hover{
    text-decoration:underline;
}

div.fl-Copyright{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
i.far.fa-copyright{
    font-size: 12px;
}
div.col-xs-12.col-md-4.col-lg-4 span > i.fl-icons{
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 10px;
}
div.col-xs-12.col-md-4.col-lg-4 span > i.fl-icons:hover{
    background-color: white;
    color: black;
}

/* _________REGOLE ICONE______ */
span i.fab.fa-facebook-f{
    max-height: 50px;
    max-width: 100%;
    padding: 14px 20px;
}
span i.fab.fa-google-plus-g{
    max-height: 50px;
    max-width: 100%;
    padding: 14px 14px;
}
span i.fab.fa-twitter{
    max-height: 50px;
    max-width: 100%;
    padding: 14px 17px;
}
span i.fab.fa-linkedin-in{
    max-height: 50px;
    max-width: 100%;
    padding: 14px 18px;
}
